body {
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
}

.section {
  height: 150px;
  width: 150px;
  border: 1px dotted blue;
}

.shader {
  background-color: blue;
  opacity: 0.2;
  position: fixed;
  pointer-events: none;
}
